:root {
  --lime: #5eff1f;
  --white: #e4e4e4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--white);
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

nav {
  background: var(--lime);
  padding: 10px 0;
}

nav .nav {
  display: flex;
  align-items: center;
}

nav .logo {
  width: 60px;  
}

nav .brand {
  margin-left: 10px;
}